h1{
    color : blueviolet;
    font-size: 30px;
}
body{
    background-color: pink;
}

input{
    margin-bottom: 12px;
    display: inline-block;
}

#goal-btn{
    padding: 5px 15px;
    cursor: pointer;
}